<div class="left-sidebar">
	<h2>Danh mục</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		<vc:Danhmuc></vc:Danhmuc>
	</div><!--/category-products-->

	<div class="brands_products">
		<!--brands_products-->
		<vc:loaihoa></vc:loaihoa>
	</div><!--/brands_products-->
	<!--Can xoa-->
</div>