@model IEnumerable<LoaihoaModel>
@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h4 class="panel-title"><a asp-action="Index" asp-controller="Loaihoa" asp-route-Slug="@item.Slug">@item.Name</a></h4>
        </div>
    </div>
}